<!DOCTYPE  html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 <title>Upload</title>
</head>
<body>
<center><h1>Provas de que a terra não é plana:</h1></center>

<center><figure>
	<img src="{{url_for('static', filename='1.jpg')}}"/>
</figure></center>

<center><figure>
	<img src="{{url_for('static', filename='2.jpg')}}"/>
</figure></center>

<center><figure>
	<img src="{{url_for('static', filename='3.jpg')}}"/>
</figure></center>

<center><figure>
	<img src="{{url_for('static', filename='4.jpg')}}"/>
</figure></center>

<center><figure>
	<img src="{{url_for('static', filename='5.jpg')}}"/>
</figure></center>
</body>
</html>